body {
    font-family: sans-serif;
    background: linear-gradient(to bottom, #b2fab4, #006400);
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004d00;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #008000;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #004d00;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
